{
  "extends": "react-app",
  "rules": {
    "quotes": ["error", "double", { "avoidEscape": true }],
    "indent": ["error", 2],
    "brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": false,
      },
    ],
  }
}